.asidelink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.2s;
}

.asidelink:visited {
    color: var(--medium-gray);
}

.asidelink svg path {
    transition: fill 0.2s;
}

.asidelink:hover {
    color: var(--white);
}

.asidelink:hover svg path {
    fill: var(--white);
}

/* Ajustes para o menu lateral compacto */
@media (max-width: 999px) {
    .asidelink {
        gap: 8px;
    }
}